build/
project/boot/
project/plugins/project/
project/plugins/target/
project/target/
target/
project/boot/*
project/plugins/project/*
project/plugins/target/*
project/target/*
target/*
api/*.jar
ingestion-logs/
ingestion/*.jar
ingestion/ingestion-logs/
.idea
.idea/*
*.iml
*.ipr
*.iws
.classpath
.project
.scala_dependencies
.target/
.cache
logs/*
.settings/
.cache-main
.cache-tests
frontend/sdk/node_modules
frontend/sdk/esdoc/out/
